# set PG_HOST to localhost if you're using the docker-compose file
# If you're using the RDS generated with Terraform, you'll have
# to set this when you know what the hostname AWS assigns is.
export PG_HOST=localhost
export PG_PORT=port
export PG_DATABASE=something
export PG_USER=something
export PG_PASSWORD=your-password
export LOG_LEVEL=INFO
export ALERT_THRESHOLD=3
# this is the account that SES sends emails from on your behalf
# you must certify this account manually. It is not done in this project.
export FROM_EMAIL='must-be-a-SES-authorized-email'
export AWS_DEFAULT_REGION='probably-us-east-1'
export AWS_ACCESS_KEY_ID=nice-try
export AWS_SECRET_ACCESS_KEY=nice-try
export AWS_BUCKET=your-aws-bucket

# Needed for Terraform only
export TF_VAR_PG_HOST=$PG_HOST
export TF_VAR_PG_PORT=$PG_PORT
export TF_VAR_PG_DATABASE=$PG_DATABASE
export TF_VAR_PG_USER=$PG_USER
export TF_VAR_PG_PASSWORD=$PG_PASSWORD
export TF_VAR_LOG_LEVEL=$LOG_LEVEL
export TF_VAR_ALERT_THRESHOLD=$ALERT_THRESHOLD
export TF_VAR_FROM_EMAIL=$FROM_EMAIL
export TF_VAR_AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
